@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: Poppins, sans-serif;
  
}

body {
   background-color: #CE7777;
}

.contentHeader {
    display: flex;
    justify-content: center;
}

.titleExam {
    width: 1042px;
    height: 135px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    border-radius: 15px;
    background-color: #F2E5E5;
    color: #000;
    box-shadow: 2px 3px #00000065;
   
}

article {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.redirect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 603px;
}

a {
    margin-bottom: 9px;
    text-decoration: none;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 603px;
    background-color: #E8C4C4;
    border-radius: 15px;
    cursor: pointer;
    color: #000;
    box-shadow: 2px 3px #00000065;
    margin: 0 auto;
}



.autorsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}

.autors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.names {
    margin-bottom: -15px;
}

@media (max-width: 800px) {
    .pages {
        width: 400px;
    }
}

.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip .bottom {
    min-width:200px; 
    top:40px;
    left:50%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color:#000000;
    background-color:#CC9966;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px #666666;
    display:none;
}

.tooltip:hover .bottom {
    display:block;
}

.tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#CC9966;
    box-shadow:0 1px 8px #666666;
}